[submodule "lib/mdlp"]
	path = lib/mdlp
	url = https://github.com/rmontanana/mdlp
	main = main
	update = merge
[submodule "tests/lib/catch2"]
	path = tests/lib/catch2
    main  = v2.x
	update = merge
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
    master = master
	update = merge
[submodule "lib/folding"]
	path = lib/folding
	url = https://github.com/rmontanana/folding
	main = main
	update = merge
