[submodule "lib/mdlp"]
	path = lib/mdlp
	url = https://github.com/rmontanana/mdlp
[submodule "lib/catch2"]
	path = lib/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse
